.footer {
	color: #616161;


	// .footer__container

	&__container {}

	// .footer__body

	&__body {
		border-top: 1px solid #D8D8D8;
		display: grid;
		grid-template-columns: 250px 1fr 290px;
		padding-top: clamp(1.875rem, 1.223rem + 3.26vw, 3.75rem);
		padding-bottom: clamp(1.875rem, 1.223rem + 3.26vw, 3.75rem);
		column-gap: clamp(0rem, -1.739rem + 8.7vw, 5rem);
	}

	// .footer__main

	&__main {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: clamp(0.313rem, 0.073rem + 1.2vw, 1rem)
	}

	// .footer__logo

	&__logo {}

	// .footer__text

	&__text {}

	// .footer__contacts

	&__contacts {}

	// .footer__menu

	&__menu {}

	// .footer__subscribe

	&__subscribe {}
}


.contacts-footer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: clamp(0.313rem, 0.073rem + 1.2vw, 1rem);
	// .contacts-footer__item

	&__item {
		display: inline-flex;
		align-items: center;
		gap: 8px;
	}
}

.menu-footer {

	// .menu-footer__column

	&__column {}

	// .menu-footer__title

	&__title {}

	// .menu-footer__list

	&__list {}

	// .menu-footer__link

	&__link {}
}

.subscribe {

	// .subscribe__title

	&__title {}

	// .subscribe__form

	&__form {}

	// .subscribe__input

	&__input {}

	// .subscribe__button

	&__button {}
}