.furniture {
	padding-bottom: clamp(2.5rem, 1.522rem + 4.89vw, 5.313rem);
	// .furniture__container

	&__container {}

	// .furniture__label

	&__label {
		font-weight: 600;
		font-size: 20px;
		line-height: 150%;
		text-align: center;
		color: #616161;

		&:not(:last-child) {
			margin-bottom: 8px;
		}


	}

	// .furniture__title

	&__title {
		margin-bottom: 40px;
	}

	// .furniture__body

	&__body {
		position: relative;

		@media (any-hover: none) {
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		}
	}

	// .furniture__items

	&__items {
		display: grid;
		grid-template-columns: auto;
		grid-auto-flow: column;
		align-items: center;
		gap: 16px;

		@media (any-hover: hover) {
			justify-content: center;
		}
	}

	// .furniture__column

	&__column {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 -8px;

		&:first-child {
			justify-content: flex-end;
		}
	}

	// .furniture__row

	&__row {
		display: inline-grid;
		padding: 0 8px;
		gap: 16px;
		grid-template-columns: auto;
		grid-auto-flow: column;

		&:not(:last-child) {
			margin: 0 0 16px 0;
		}
	}
}

.row-furniture {

	// .row-furniture_left-top

	&_left-top {
		justify-content: end;
		align-items: end;
	}

	// .row-furniture_left-bottom

	&_left-bottom {
		justify-content: end;
		align-items: start;
	}

	// .row-furniture_center

	&_center {
		display: block;
	}

	// .row-furniture_right-top

	&_right-top {
		align-items: end;
	}

	// .row-furniture_right-bottom

	&_right-bottom {
		align-items: start;
	}

	// .row-furniture__item

	&__item {
		@media (any-hover: hover) {
			img {
				transition: all 0.8s ease 0s;
				filter: grayscale(1);
			}

			&:hover {
				img {
					filter: grayscale(0);
				}
			}
		}
	}
}