.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;

	// .header__wrapper

	&__wrapper {
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 50;
	}

	// .header__container

	&__container {}

	// .header__body

	&__body {
		display: flex;
		align-items: center;
		min-height: 125px;
		padding: 5px 0;
		position: relative;



		@media (max-width:992px) {
			min-height: 80px;
		}

		@media (max-width:767.98px) {
			min-height: 50px;
			gap: 20px;
		}

	}

	// .header__main

	&__main {
		display: flex;
		flex: 0 0 calc(494/1240) * 100%;
		align-items: center;

		@media (max-width:992px) {
			flex: 1 1 auto;
		}
	}

	// .header_logo

	&_logo {
		font-weight: 700;
		font-size: 24px;
		line-height: calc(29 / 24) * 100%;
		color: #000000;
		z-index: 5;

	}

	// .header__menu

	&__menu {}

	// .header__search

	&__search {
		@media (min-width:992px) {
			flex: 1 1 auto;

		}

	}

	// .header__actions

	&__actions {}
}

.menu {
	flex: 0 1 420px;


	// .menu__body

	&__body {

		@media (max-width:767.98px) {
			position: fixed;
			width: 100%;
			height: 100%;
			overflow: auto;
			left: -100%;
			top: 0;
			transition: left 0.3s ease 0s;
			padding: 70px 15px 30px 15px;
			background-color: #b2a4a4;

			&::before {
				content: '';
				position: fixed;
				width: 100%;
				height: 50px;
				background-color: #b2a4a4;
				left: -100%;
				top: 0;
				z-index: 2;
				transition: left 0.3s ease 0s;
			}

			&._active {
				left: 0;

				&::before {
					left: 0;
				}
			}
		}


	}

	// .menu__list

	&__list {
		@media (min-width: 767.98px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}
	}

	// .menu__item

	&__item {

		@media (min-width:767.98px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 0 3px;
			padding: 5px 0;
			position: relative;
		}


		@media (any-hover: hover) {

			//only for mouse cursore
			&:hover {
				.menu__sub-list {
					opacity: 1;
					transform: translate(0, 0);
					visibility: visible;
					pointer-events: auto;
				}

				.menu__arrow {
					transform: rotate(180deg);
				}

				.menu__arrow,
				.menu__link {
					color: $orangeColor;
				}
			}
		}

		@media (min-width:767.98px) and (max-width:992px) {
			&._hover {
				.menu__sub-list {
					opacity: 1;
					transform: translate(0, 0);
					visibility: visible;
					pointer-events: auto;
				}

				.menu__arrow {
					transform: rotate(180deg);
				}

				.menu__arrow,
				.menu__link {
					color: $orangeColor;
				}
			}

		}

		@media (max-width:767.98px) {
			&._hover {
				.menu__sub-list {
					display: block;
				}

				.menu__arrow {
					transform: rotate(180deg);
				}
			}


		}


	}

	//.menu__link

	&__link {
		font-weight: 500;
		transition: color 0.3s linear; //ease 0s;

		@media (max-width:767.98px) {
			display: flex;
			justify-content: space-between;
			font-size: 24px;
		}
	}

	// .menu__arrow

	&__arrow {
		margin-left: 5px;
		font-size: 8px;
		transition: all 0.3s ease 0s;
		background-color: inherit;

		@media (max-width:767.98px) {
			font-size: 16px;
		}
	}

	// .menu__sub-list

	&__sub-list {
		position: relative;
		flex: 1 1 100%;
		background-color: $orangeColor;
		padding: 15px;

		@media (min-width: 767.98px) {
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease 0s;
			transform: translate(0, 10px);
			min-width: 200px;
			position: absolute;
			left: 0;
			top: 100%;
			pointer-events: none;
			z-index: 5;
		}

		@media (max-width:767.98px) {
			display: none;
		}
	}

	// .menu__sub-link

	&__sub-link {
		color: white;
		font-weight: 500;

		&:not(:last-child) {
			margin-bottom: 5px;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	// .menu__sub-item

	&__sub-item {}
}

.search-form {
	max-width: 443px;
	margin-right: clamp(0.938rem, calc(0.58rem + 1.79vw), 2rem);

	&._active {
		.search-form__item {
			opacity: 1;
			top: 100%;
			visibility: visible;
		}

		.search-form__icon {
			color: $orangeColor;
		}
	}

	// .search-form__icon

	&__icon {
		font-size: 22px;
		position: relative;
		z-index: 5;
		color: #262f56;
		background-color: inherit;

		@media (min-width:992px) {
			display: none;
		}
	}

	// .search-form__item

	&__item {
		display: flex;
		width: 100%;
		align-items: center;
		gap: 10px;
		height: 45px;
		background-color: #fff;
		margin-right: clamp(0.938rem, calc(0.58rem + 1.79vw), 2rem);
		padding: 0 15px;

		@media (max-width:992px) {
			box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
			position: absolute;
			width: 100%;
			opacity: 0;
			left: 0;
			top: -100%;
			visibility: hidden;
			transition: all 0.3s ease 0s;
			z-index: 5;
		}
	}

	// .search-form__btn

	&__btn {
		font-size: 16px;
	}

	// .search-form__input

	&__input {


		flex: 0 1 80%;


	}
}

.actions-header {
	// flex: 1 1 auto;
	display: flex;
	gap: clamp(0.938rem, calc(0.58rem + 1.79vw), 2rem);
	align-items: center;
	justify-content: end;
	z-index: 5;
	// .actions-header__item

	&__item {

		// .actions-header__item_favorites

		&_favorites {
			color: #262F56;
			font-size: 24px;
			transition: color 0.3s ease 0s;

			@media (any-hover: hover) {
				&:hover {
					color: $orangeColor;
				}
			}
		}

		// .actions-header__item_user

		&_user {
			overflow: hidden;
			border-radius: 50%;
			width: clamp(1.875rem, calc(1.664rem + 1.05vw), 2.5rem);
			height: clamp(1.875rem, calc(1.664rem + 1.05vw), 2.5rem);
		}
	}
}

.cart-header {

	// .cart-header__icon

	&__icon {
		position: relative;
		display: block;
		color: #262F56;
		font-size: 24px;
		transition: color 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
			}
		}

		span {
			position: absolute;
			background-color: $orangeColor;
			width: 20px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			font-size: 14px;
			border-radius: 50%;
			top: -10px;
			right: -10px;
		}
	}

	// .cart-header__body

	&__body {}

	// .cart-header__list

	&__list {}
}

.cart-list {}

.icon-menu {
	display: none;

	@media (max-width:767.98px) {
		background-color: inherit;
		width: 25px;
		height: 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: 10;

		span {
			width: 100%;
			height: 3px;
			background-color: #000000;
		}
	}



}