.page {

	// .page__min-slider

	&__min-slider {}
}

.main-slider {
	background-color: #FCF8F3;
	// .main-slider__container

	&__container {
		position: relative;

		@media (min-width:992.98px) {
			&::before {
				content: "";
				position: absolute;
				background-color: #F9F1E7;
				width: 100vw;
				top: 0;
				right: 376px;
				height: 100%;
			}
		}
	}

	// .main-slider__body

	&__body {
		padding: 140px 0 0 0;
		position: relative;
		z-index: 2;

		@media (max-width:992.98px) {
			padding: 80px 0 0 0;
		}

		@media (max-width:767.98px) {
			padding: 50px 0 0 0;
		}

		@media (min-width:992.98px) {
			display: flex;
		}
	}

	// .main-slider__content

	&__content {
		flex: 0 0 calc(494 / 1240) * 100%;
	}

	// .main-slider__slider

	&__slider {
		flex: 1 1 auto;
		min-width: 0;

		@media (min-width: 992.98px) {
			padding: 0 0 0 32px;
		}

	}
}

.content-main {
	position: relative;
	z-index: 5;
	background: rgba(255, 255, 255, 0.72);
	padding: 15px;

	@media (min-width: 992.98px) {
		padding: clamp(0.063rem, -1.22rem + 6.41vw, 3.75rem);
		background: rgba(255, 255, 255, 0.9);

		@supports((-webkit-drop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
			background: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(31px);
		}
	}


	// .content-main__title

	&__title {
		font-weight: 700;
		font-size: clamp(1.5rem, 0.804rem + 3.48vw, 3.5rem);
		line-height: 120%;

		&:not(:last-child) {
			margin-bottom: calc(16px/56px) * 1em;
		}
	}

	// .content-main__text

	&__text {
		font-size: clamp(1rem, 0.913rem + 0.43vw, 1.25rem);
		font-weight: 500;
		line-height: 150%;
		color: $darkGrayColor;

		&:not(:last-child) {
			margin-bottom: calc(48px/20px) * 1em;
		}

	}

	// .content-main__button

	&__button {
		min-height: clamp(2.813rem, 2.095rem + 3.59vw, 4.875rem);
		font-weight: 600;
		font-size: clamp(1rem, 0.913rem + 0.43vw, 1.25rem);
		background-color: $orangeColor;
		color: #fff;
		width: 100%;


		@media (any-hover: hover) {
			&:hover {
				background-color: #b47b58;
			}
		}
	}
}

.slider-main {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	// .slider-main__controls

	&__controls {}

	// .slider-main__body (swiper)

	&__body {
		overflow: visible;

		@media (min-width:992.98px) {
			width: clamp(18.125rem, 4.125rem + 70vw, 58.375rem);
		}
	}

	// .slider-main__wrapper

	&__wrapper {}

	// .slider-main__slide

	&__slide {}

	// .slider-main__image

	&__image {
		padding: 0 0 50% 0;
	}

	// .slider-main__content

	&__content {
		min-width: 295px;
		max-height: 300px;
		overflow: auto;
		position: absolute;
		display: flex;
		flex-direction: column;
		padding: clamp(0.938rem, 0.742rem + 0.98vw, 1.5rem);

		@media (min-width: 767.98px) {
			position: absolute;
			min-width: 350px;
			right: clamp(0rem, -0.87rem + 4.35vw, 2.5rem);
			bottom: clamp(0rem, -0.87rem + 4.35vw, 2.5rem);
		}

		@supports((-webkit-drop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
			background: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(31px);
		}
	}

	// .slider-main__title

	&__title {
		font-size: clamp(1.375rem, 1.245rem + 0.65vw, 1.75rem);
		font-weight: 600;
		line-height: 120%;

		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}

	// .slider-main__text

	&__text {
		line-height: 150%;
		color: $darkGrayColor;

		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	// .slider-main__price

	&__price {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: space-between;
		line-height: 150%;
		font-weight: 600;
		font-size: clamp(1rem, 0.913rem + 0.43vw, 1.25rem);

		&::before {
			margin: 0 0 0 10px;
			font-size: 12px;
		}
	}
}

.controls-slider-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 20px 0;

	// .controls-slider-main__dotts

	&__dotts {}

	// .controls-slider-main__arrows

	&__arrows {}
}

.slider-arrows {}

.slider-arrow {

	// .slider-arrow_prev

	&_prev {}

	// .slider-arrow_next

	&_next {}
}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}