.page {

	// .page__products

	&__products {}


}

.products {
	padding-bottom: clamp(1.875rem, 1.571rem + 1.52vw, 2.75rem);
	// .products__container

	&__container {}

	// .products__title

	&__title {
		margin: 0 0 32px 0;
	}

	// .products__items

	&__items {
		display: grid;
		gap: 32px;
		grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
	}

	// .products__item

	&__item {}
}


.item-products {
	background-color: #F4F5F7;
	display: flex;
	flex-direction: column;
	position: relative;


	// .item-products__labels

	&__labels {
		position: absolute;
		display: flex;
		flex-direction: column;
		top: 8.42%;
		right: 8.42%
	}

	// .item-products__label

	&__label {
		flex: 0 0 48px;
		width: 48px;
		border-radius: 50%;
		color: #fff;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;

		&:not(:last-child) {
			margin-bottom: 10px;
		}


		// .item-products__label_sale

		&_sale {
			background-color: #E97171;
		}

		&_new {
			background-color: #2EC1AC;
		}
	}

	// .item-products__image

	&__image {
		padding: 0 0 calc(301px/285px) * 100% 0;
	}

	// .item-products__body

	&__body {
		flex: 1 1 auto;
		padding: 16px 16px 30px 16px;
		display: flex;
		flex-direction: column;
	}

	// .item-products__content

	&__content {
		flex: 1 1 auto;
	}

	// .item-products__title

	&__title {
		font-size: clamp(1.25rem, 1.163rem + 0.43vw, 1.5rem);
		font-weight: 500;
		line-height: 150%;
		margin-bottom: 8px;
	}

	// .item-products__text

	&__text {
		color: $darkGrayColor;
		line-height: 150%;
		margin-bottom: 8px;
	}

	// .item-products__prices

	&__prices {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		line-height: 150%;
	}

	// .item-products__price

	&__price {
		font-size: clamp(1rem, 0.913rem + 0.43vw, 1.25rem);
		font-weight: 600;
	}

	// .item-products_old

	&_old {
		font-size: clamp(0.875rem, 0.832rem + 0.22vw, 1rem);
		color: #B0B0B0;
		font-weight: 400;
		margin-left: 16px;
	}

	// .item-products__actions

	&__actions {
		@media (any-hover: none) {
			padding: 15px;
		}

		@media (any-hover: hover) {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			background-color: rgba(58, 58, 58, 0.72);
		}
	}
}

.actions-product {

	// .actions-product__body

	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	// .actions-product__button

	&__button {
		flex: 1 1 100%;

		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	// .actions-product__link

	&__link {
		display: flex;
		align-items: center;
		color: inherit;
		gap: 8px;

		@media (any-hover: hover) {
			color: white;
		}

		& span {
			font-family: "gilroy";
			font-weight: 600;
		}

		&::before {
			font-size: 20px;
		}
	}
}