.page {

	// .page__products

	&__products {}


}

.products {
	padding-bottom: clamp(1.875rem, 1.571rem + 1.52vw, 2.75rem);
	// .products__container

	&__container {}

	// .products__title

	&__title {
		margin: 0 0 32px 0;
	}

	// .products__items

	&__items {
		display: grid;
		gap: 32px;
		grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
	}

	// .products__item

	&__item {}
}


.item-products {

	// .item-products_old

	&_old {}

	// .item-products__labels

	&__labels {}

	// .item-products__label

	&__label {

		// .item-products__label_sale

		&_sale {}
	}

	// .item-products__image

	&__image {}

	// .item-products__body

	&__body {}

	// .item-products__content

	&__content {}

	// .item-products__title

	&__title {}

	// .item-products__text

	&__text {}

	// .item-products__prices

	&__prices {}

	// .item-products__price

	&__price {}

	// .item-products__actions

	&__actions {}
}

.actions-product {

	// .actions-product__body

	&__body {}

	// .actions-product__button

	&__button {}

	// .actions-product__link

	&__link {}
}