.rooms {
	background-color: #FCF8F3;
	padding-top: clamp(1.875rem, 1.571rem + 1.52vw, 2.75rem);
	padding-bottom: clamp(1.875rem, 1.571rem + 1.52vw, 2.75rem);
	// .rooms__container

	&__container {
		@media (min-width: 992px) {
			display: flex;
		}
	}

	// .rooms__body

	&__body {
		flex: 0 0 calc(465/1240) * 100%;
		position: relative;
		z-index: 5;
		align-self: center;

		@media (min-width:992px) {
			padding-right: clamp(1.875rem, 0.788rem + 5.43vw, 5rem);
		}
	}

	&__title {
		text-align: left;

		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
		color: #616161;

		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	&__btn {
		min-width: 176px;

		&:hover {
			color: white;
			background-color: #b47b58;
		}
	}

	// .rooms__slider

	&__slider {
		flex: 1 1 auto;
		min-width: 0;
		align-self: flex-start;
	}
}


.slider-rooms {

	// .slider-rooms__title

	&__title {
		font-family: 'Gilroy';
		font-weight: 600;
		font-size: 28px;
		line-height: 120%;
		color: #3A3A3A;
	}

	// .slider-rooms__text

	&__text {}

	// .slider-rooms__btn

	&__btn {}

	// .slider-rooms__body

	&__body {
		overflow: visible;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100vw;
			background-color: #FCF8F3;
			transform: translateX(-100%);
			z-index: 2;
		}
	}

	// .slider-rooms__wrapper

	&__wrapper {}

	// .slider-rooms__slide

	&__slide {
		width: 372px;
		position: relative;
		overflow: hidden;
		height: clamp(25rem, 20.978rem + 20.11vw, 36.563rem);


		&.swiper-slide-active {
			.slider-rooms__image {
				height: clamp(25rem, 20.978rem + 20.11vw, 36.563rem);
			}
		}
	}

	// .slider-rooms__image

	&__image {
		height: clamp(25rem, 20.978rem + 20.11vw, 36.563rem);
		transition: height 0.3s ease 0s;

		@media (min-width:767px) {
			height: clamp(21.875rem, 18.918rem + 14.78vw, 30.375rem);
		}

	}

	// .sliderms__content

	&__content {
		position: absolute;
		max-width: 217px;
		left: clamp(0.938rem, 0.742rem + 0.98vw, 1.5rem);
		bottom: clamp(0.938rem, 0.742rem + 0.98vw, 1.5rem);
		padding: clamp(0.938rem, 0.568rem + 1.85vw, 2rem);

		@supports((-webkit-backdrop-filter: blur(1.5px)) or (backdrop-filter: blur(1.5px))) {
			background-color: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(1.5px)
		}

		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
		color: #616161;
	}

	// .slider-rooms__label

	&__label {}

	// .slider-rooms__arrows

	&__arrows {}

	// .slider-rooms__dotts

	&__dotts {}
}

.label-slider {
	font-family: 'Gilroy';
	display: flex;
	align-items: center;
	gap: 8px;
	// .label-slider__number

	&__number {}

	// .label-slider__line

	&__line {
		width: 27px;
		height: 3px;
		// background-color: #616161;
		border-bottom: 1px solid #616161;
	}

	// .label-slider__text

	&__text {}
}

.slider-arrows {}

.slider-arrow {

	// .slider-arrow_white

	&_white {}

	// .slider-arrow_prev

	&_prev {}

	// .slider-arrow_next

	&_next {}
}