.tips {
	padding-top: clamp(1.875rem, 1.571rem + 1.52vw, 2.75rem);
	padding-bottom: clamp(1.875rem, 1.571rem + 1.52vw, 2.75rem);

	// .tips__container

	&__container {}

	// .tips__title

	&__title {
		margin-bottom: 32px;
	}

	// .tips__slider

	&__slider {}
}

.container {}

.slider-tips {
	position: relative;
	// .slider-tips__body

	&__body {
		margin: 0 -32px;
		padding: 32px;
	}

	// .slider-tips__wrapper

	&__wrapper {}

	// .slider-tips__slide

	&__slide {
		display: flex;
		flex-direction: column;
		transition: box-shadow 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0 0 32px rgba(0, 0, 0, 0.25);
			}
		}
	}

	// .slider-tips__image

	&__image {
		padding: 0 0 calc(251/391) * 100% 0;
	}

	// .slider-tips__content

	&__content {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 15px;
		gap: 8px;
	}

	// .slider-tips__title

	&__title {
		flex: 1 0 auto;
		max-width: 247px;
		font-weight: 600;
		font-size: 24px;
		line-height: 120%;
	}

	// .slider-tips__text

	&__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 150%;
		color: #898989;
	}

	// .slider-tips__arrows

	&__arrows {}

	// .slider-tips__dotts

	&__dotts {}
}